@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Rokkitt:400,700&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=vietnamese');

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	background: #fff;
}

a{font-family: 'Rokkitt', serif;}
a:hover{color: #2b95e0;}

h1{font: 700 32px/34px 'Rokkitt', serif;}
h2{font: 700 28px/30px 'Rokkitt', serif;}
h3{font: 700 24px/26px 'Rokkitt', serif;}
h4{font: 700 20px/22px 'Rokkitt', serif;}
h5{font: 700 16px/20px 'Rokkitt', serif;}
h6{font: 700 14px/20px 'Rokkitt', serif;}

body img{max-width: 100% !important; height: auto !important; display: inline-block !important;}
body table{max-width: 100% !important;}

.transition, #search, .search, .itemFirst .info a, .boxVideos .item .fa
{
	-moz-transition: all 300ms ease-out 0s;
	-ms-transition: all 300ms ease-out 0s;
	-o-transition: all 300ms ease-out 0s;
	-webkit-transition: all 300ms ease-out 0s;
	transition: all 300ms ease-out 0s; 
}
.transition:hover{
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1); 
}

#banner:after, #menuMain > ul:after, .social ul:after, .contentIndex .itemSecond:after, .boxAlbums:after, 
.boxCategory .item:after, .videos .listVideos:after, .albums:after, .boxDocuments.boxDocuments:after, body:after
{content: ''; display: table; clear: both;}

.fancybox{ cursor: zoom-in; cursor: -webkit-zoom-in;}
.fancybox-inner{overflow: hidden!important}

#page{overflow-x: hidden}

.container{position: relative;}

#banner img{float: left; width: 33.33333%;}
#banner img:hover{opacity: 0.8}

#headerTop{background: #257AB6;}
#menuMain{float: left;}
#menuMain ul{margin: 0px; padding: 0px; list-style: none;}
#menuMain a{color: #fff; font-family: 'Rokkitt', serif; font-weight: bold; font-size: 16px; text-transform: uppercase; display: block; padding: 8px 10px; white-space: nowrap;}
#menuMain a > .fa{font-size: 18px;}
#menuMain a:hover, #menuMain li:hover > a, #menuMain .active > a{color: #257ab6; background: #fff; text-decoration: none;}
#menuMain a:focus, #menuMain a:active{text-decoration: none;}
#menuMain > ul > li:hover > a{position: relative; z-index: 90; padding-bottom: 13px; margin-bottom: -5px;}
#menuMain > ul{padding-top: 5px;}
#menuMain > ul > li{float: left; position: relative;}
#menuMain li > ul{display: none; position: absolute; z-index: 89; left: -5px; top: 100%; min-width: 200px; border: 5px solid #257AB6; background: #fff;}
#menuMain li:hover > ul{display: block;}
#menuMain li ul li{position: relative;}
#menuMain li ul li ul{top: -5px; left: 100%;}
#menuMain li ul li a{text-transform: capitalize; font-size: 17px; color: #257ab6; border-bottom: 1px solid #257ab6}
#menuMain li ul li:last-child > a{border-bottom: none;}
#menuMain li ul li a:hover, #menuMain li ul li:hover > a{color: #000}

#search{width: 32px; height: 30px; float: left; position: relative; border-right: 1px solid #dfdfdf;}
.search{position: absolute; z-index: 88; right: 0px; top: 0px; width: 31px;}
.search .frmSearch{position: relative; overflow: hidden;}
.search .fa{color: #555; font-size: 15px; cursor: pointer;}
.search .frmSearch > .fa{position: absolute; left: 8px; top: 7px;}
.search input[type=text]{width: 100%; border: none; padding: 5px 30px 5px 10px; color: #18171b; border-left: 1px solid #dfdfdf}
.search input[type=text]:focus{outline: none; background: #f5f5f5;}
#search button[type=submit]{position: absolute; z-index: 89; top: 4px; right: -31px; outline: none; background: none; border: none; color: #555;}

.social ul{margin: 0px; padding: 0px; list-style: none;}
.social li{float: left; border-right: 1px solid #dfdfdf;}
.social .fa{padding: 10px 0px; width: 37px; text-align: center; background: #537bbd; border-radius: 100%; font-size: 17px; color: #fff; margin-right: 3px;}
.social .fa:hover, .social .fa:focus, .social .fa:active{text-decoration: none; opacity: 0.8}
.social .fa-google-plus{background: #e9654b;}
.social .fa-youtube{background: #e94b4b;}
.social .fa-twitter{background: #78cdf0;}

#headerMiddle{padding: 5px 0px; border-bottom: 1px solid #dfdfdf;}

#headerBottom{border-bottom: 1px solid #dfdfdf;}
#headerBottom .titleNewsHot{float: left; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf; color: #257ab6; padding: 5px 15px; text-transform: uppercase;}
#headerBottom .bodyNewsHot{float: left; width: calc(100% - 290px); padding: 5px 15px; height: 30px; overflow: hidden;}
#newsHot{margin: 0px; padding: 0px;}
#newsHot dd{float: left; display: block; margin: 0px 200px; color: #555;}
#newsHot dd > a{white-space: nowrap; color: #555; font-size: 16px;}
#newsHot dd > span{white-space: nowrap; font-size: 13px; font-style: italic;}
#headerBottom .social{float: right;}
#headerBottom .social.black a{display: block;}
#headerBottom .social.black .fa{background: none; color: #555; width: 30px; padding: 7px 0px 6px; margin: 0px;}
#headerBottom .social.black a:hover .fa{color: #257ab6;}

.wrapper{border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf; padding: 0px 15px;}

.homeTopLeft{border-right: 1px solid #dfdfdf; padding: 15px;}
.homeTopLeftImg .itemFirst{position: relative; background: #ccc;}
.homeTopLeftImg .itemFirst .img{display: block; text-align: center;}
.homeTopLeftImg .itemFirst .info{position: absolute; z-index: 89; left: 15px; bottom: 15px; right: 15px; padding: 15px 20px; color: #fff; background: rgba(0, 0, 0, 0.6);}
.homeTopLeftImg .itemFirst .info ul{margin: 0px; padding: 0px; list-style: none;}
.homeTopLeftImg .itemFirst .info li{display: inline-block; font-size: 10px;}
.homeTopLeftImg .itemFirst .info li a{font-size: 13px;}
.homeTopLeftImg .itemFirst .info a{color: #fff; font-weight: bold;}
.homeTopLeftImg .itemFirst .info a:hover{text-decoration: none; color: #257ab6}
.homeTopLeftImg .itemFirst .info h2{margin-top: 10px;}
.homeTopLeftImg .owl-dots{position: absolute; top: 10px; right: 15px}
.homeTopLeftImg .owl-theme .owl-dots .owl-dot span{width: 15px; height: 15px; margin: 0px 3px; background: #fff;}
.homeTopLeftImg .owl-theme .owl-dots .owl-dot:hover span, .homeTopLeftImg .owl-theme .owl-dots .owl-dot.active span{background: #257ab6;}

.listNormal{margin: 0px; padding: 10px; list-style: none; background: #F0F9FD;}
.listNormal li{color: #0f0; margin-bottom: 5px;}
.listNormal .fa{margin-right: 7px; color: #333; font-size: 6px;}
.listNormal a{color: #333; font-size: 16px;}
.listNormal a:hover{text-decoration: none; color: #2b95e0;}
.homeTopLeftList{padding-left: 0px;}
.homeTopLeftList .listNormal{height: 385px; overflow-y: auto}

.scrollbarOne::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3); background-color: #F5F5F5;}
.scrollbarOne::-webkit-scrollbar{width: 5px; background-color: #F5F5F5;}
.scrollbarOne::-webkit-scrollbar-thumb{background-color: rgba(43, 149, 224, 0.21);}
.scrollbarOne:hover::-webkit-scrollbar-thumb{background: #2b95e0;}

.homeTopRight{padding: 15px; border-left: 1px solid #dedede; border-bottom: 1px solid #dedede; margin-left: -1px;}

.datetime{color: #337ab7; font-size: 13px; font-style: italic;}

.contentIndex .boxLeft{padding-right: 0px;}
.contentIndex h4 a{color: #333;}
.contentIndex h4 a:hover{color: #2b95e0; text-decoration: none;}
.contentIndex .itemSecond .img{display: block; float: left; width: 50%; padding-right: 15px;}
.contentIndex .itemSecond h4{margin-top: 0px;}
.contentIndex .boxRight > div{margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #dedede}
.contentIndex .boxRight > div:last-child{margin-bottom: 0px; border-bottom: none;}

.boxSingle .itemFirst{margin-bottom: 10px;}
.boxSingle .itemFirst a{color: #333; display: block;}
.boxSingle .itemFirst a:hover{color: #2b95e0; text-decoration: none;}

.boxList{margin-bottom: 15px;}
.boxList .boxTitle{color: #257ab6; font-size: 18px; margin-top: 0px; text-transform: uppercase; border-bottom: 3px double #dedede; font-family: 'Rokkitt', serif;}
.boxList .boxTitle a{color: #257ab6}
.boxList .boxTitle a:hover{color: #2b95e0; text-decoration: none;}
.boxList h2.boxTitle{font-size: 24px;}

.contentIndex{border-right: 1px solid #dedede; }
.contentSidebar{border-left: 1px solid #dedede; margin-left: -1px; border-top: 1px solid #dedede; margin-top: -1px;}
.sidebarCalendar{padding-top: 15px; border-top: 1px solid #dedede; margin-top: -1px;}

.boxMain h1.boxTitle{margin-top: 0px; border-bottom: 3px double #dedede;}

#infoDetail{margin-bottom: 20px; font-style: italic; font-size: 13px;}
#infoDetail .fa{margin-left: 10px;}
#infoDetail span:first-child .fa{margin-left: 0px;}
#infoDetail a{font-size: 16px;}

#contentDetail{padding-bottom: 15px;}

.boxCategory .item{margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #dedede;}
.boxCategory .img{width: 150px; float: left; display: block; border: 1px solid #dedede; background: #fff; padding: 1px;}
.boxCategory .info{margin-left: 165px;}

.boxSidebar .boxSingle.boxFirst .item{padding-top: 10px; margin-top: 10px; border-top: 1px solid #dedede}
.boxSidebar .boxSingle.boxFirst .item .img{display: block; float: left; width: 60px; margin-right: 10px;}
.boxSidebar .boxSingle.boxFirst .item a{color: #333;}
.boxSidebar .boxSingle.boxFirst .item a:hover{color: #2b95e0; text-decoration: none;}
.boxSidebar .boxSingle.boxFirst .item h4{margin-top: 0px;}

.boxSidebar .boxHalf .img{display: block; float: left; width: 40%; padding-right: 15px;}
.boxSidebar .boxHalf a{color: #333}
.boxSidebar .boxHalf a:hover{color: #2b95e0; text-decoration: none;}

.sidebarPosts{border-right: 1px solid #dedede; padding-top: 15px;}
.col-xs-12.sidebarPosts{border-right: 0px;}
.sidebarMedia{border-left: 1px solid #dedede; margin-left: -1px; padding-top: 15px;}

.boxVideos .item{background: #fff;}
.boxVideos .item h4{margin-top: 0px; margin-bottom: 5px;}
.boxVideos .item h4, .boxVideos .item h4 a{color: #333; font-size: 17px; display: block; white-space: nowrap; overflow:hidden !important; text-overflow: ellipsis;}
.boxVideos .item h4 a:hover{color: #2b95e0; text-decoration: none;}
.boxVideos .item .datetime{display: block; margin-bottom: 7px;}
.boxVideos .item .img{position: relative; display: block;}
.boxVideos .item .fa{position: absolute; z-index: 89; top: 50%; margin-top: -17px; left: 50%; margin-left: -17px; padding: 7px 8px 7px 12px; background: rgba(0, 0, 0, 0.5); border: 2px solid rgba(221, 221, 221, 0.6); border-radius: 100%; font-size: 20px; color: #fff; opacity: 0.5}
.boxVideos .item .img:hover .fa{border-color: #afafaf; opacity: 1; color: #e24848}

.boxAlbums{margin-left: -5px; margin-right: -5px;}
.boxAlbums .item{float: left; width: 50%; padding: 0px 5px 10px;}

.boxDocuments .item{margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px solid #dedede;}
.boxDocuments .item a{color: #333; font-size: 18px;}
.boxDocuments .item a:hover{color: #2b95e0; text-decoration: none;}

.videos .items .title{margin: 0px; padding: 15px 25px 15px 10px; background: #f5f5f5; position: relative;}
.videos .items .title .more{position: absolute; z-index: 89; position: absolute; top: 15px; right: 10px; font-size: 15px;}
.videos .listVideos{padding: 10px; border: 1px solid #f5f5f5; margin-bottom: 25px;}

.listVideos .boxVideos{margin-left: -8px; margin-right: -7px;}
.listVideos .item{float: left; width: 33.3333333%; padding: 0px 7px 15px 8px; text-align: center;}
.listVideos .item:nth-child(3n+1){clear: both;}
.listVideos .item h5{margin: 5px 0px;}

.albums{margin-left: -7px; margin-right: -8px;}
.albums .item{float: left; width: 33.33333%; padding: 15px 8px 0px 7px;}
.albums .item:nth-child(3n+1){clear: both}
.albums .item .img{
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	display: block; border: 1px solid #dedede; background: #fff; 
	padding: 4px; position: relative; border-radius: 3px;
}
.albums .item .img:before, .albums .item .img:after {
    content: "";
    border-radius: 3px;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #dedede;
    background: #fff;
    padding: 4px;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}
.albums .item .img:before {top: 4px; z-index: -10;}
.albums .item .img:after {top: -4px; z-index: -20;}
.albums .item .img:hover:before {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}
.albums .item .img:hover:after {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
#nanoGallery a{opacity: 0;}
.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer .labelImageTitle{white-space: nowrap; text-overflow: ellipsis; text-overflow: ellipsis;}
.nanogallery_theme_default .nanoGalleryContainer .nanoGalleryThumbnailContainer .labelImageTitle:before{margin-right: 10px;}

.documents .items .title{margin: 0px; padding: 15px 25px 15px 10px; background: #f5f5f5; position: relative;}
.documents .items .title .more{position: absolute; z-index: 89; position: absolute; top: 15px; right: 10px; font-size: 15px;}
.documents .boxDocuments{margin-left: -5px; padding-right: -5px;}
.documents .boxDocuments .item{float: left; width: 16.6666667%; padding: 10px 5px 0px; margin: 0px; border: none;}
.documents .boxDocuments .item:nth-child(6n+1){clear: both;}
.documents .boxDocuments .img{display: block;}
.documents .boxDocuments .img:hover{opacity: 0.8;}

.listDocuments{padding: 10px 0px; margin-bottom: 20px;}

.boxBrands ul{margin: 0px; padding: 0px; list-style: none;}
.boxBrands img:hover{opacity: 0.8}

#contentVideo{text-align: center; margin-bottom: 15px;}

.owl-theme .owl-controls{margin: 0px;}

.SumoSelect.open > .optWrapper{top: 27px; border-radius: 0px 0px 3px 3px;}
.SumoSelect > .CaptionCont > label{margin: 0px; cursor: pointer;}
.SumoSelect > .optWrapper > .options  li.opt{padding: 0px 6px;}
.SumoSelect > .optWrapper > .options li > label{padding: 5px 0px;}

.frmCustom .form-group [class*='col-']:first-child{padding-right: 0px;}
.frmCustom .checkbox:not(:first-child), .frmCustom .radio:not(:first-child){padding-top: 0px; min-height: 23px;}
.frmCustom label{font-weight: normal;}

.input-group{width: 100%;}
.input-group [class*='span']{margin-left: -1px;}
.input-group [class*='span']:first-child{margin-left: 0px;}
.input-group .span1{width: 8.333333333%;}
.input-group .span2{width: 16.66666667%;}
.input-group .span3{width: 25%;}
.input-group .span4{width: 33.333333333%;}
.input-group .span5{width: 41.666666667%;}
.input-group .span6{width: 50%;}
.input-group .span7{width: 58.333333333%;}
.input-group .span8{width: 66.666666667%;}
.input-group .span9{width: 75%;}
.input-group .span10{width: 83.33333333%;}
.input-group .span11{width: 91.66666667%;}
.input-group .span12{width: 100%;}

#success_message{ display: none;}
.textarea .input-group-addon, .textarea .input-group-btn{vertical-align: top;}
#frmContact .control-label{padding-right: 0px;}
.form-captcha .captcha-addon{width: 65px; padding: 0px; background: none;}

.show-error label{font-weight: normal;}

.input-group .input-group-addon span{white-space: normal; display: block; margin-bottom: 5px; min-height: 45px;}
.input-group .input-group-addon select{display: block; margin: 5px auto;}

.pagination{margin-top: 0px;}
.pagination>li>a, .pagination>li>span{color: #252525}
.pagination>li.open{position: relative;}
.pagination>li.open>a, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{color: #fff; background: #257ab6; border-color: #257ab6;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color: #257ab6; color: #fff; border: 3px solid #257ab6; margin-top: -2px;}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{opacity: 0.2}

.captcha img{border: 1px solid #ccc; border-left: none;}
.captcha .fa{cursor: pointer; font-size: 15px; vertical-align: middle;}
.captcha .input-group-addon{padding: 0px; width: 65px; vertical-align: top; background: none; border: none;}
.captcha .input-group-btn{width: 35px; text-align: center; vertical-align: top; background: none; border: 1px solid #ccc; border-left: none; border-radius: 0px 4px 4px 0px; float: right; padding: 9px 2px 8px;}

#btn-fixed-right{position: fixed; z-index: 1000; right: 0px; top: 40%; width: 130px;}
#btn-fixed-right img{width: 100%;}
#btn-fixed-right a:hover{opacity: 0.8}

footer{border-top: 1px solid #dedede; padding: 15px 0px 15px; border-bottom: 3px double #dedede; margin-bottom: 25px;}
footer, footer a, footer a:hover{color: #333;}

.boxView .item h4{ margin-bottom: 10px;}
.boxView .item a:hover{color: #2b95e0; text-decoration: none;}
.boxView .owl-theme .owl-nav{position: absolute; top: -45px; right: 0px;}
.boxView .owl-theme .owl-controls .owl-nav [class*=owl-]{margin: 3px; background: none; border-radius: 100%; color: #d6d6d6; border: 1px solid #d6d6d6;}
.boxView .owl-theme .owl-controls .owl-nav .owl-next{padding: 1px 5px 1px 7px;}
.boxView .owl-theme .owl-controls .owl-nav .owl-prev{padding: 1px 7px 1px 5px;}

.boxInfoWebsite{border-top: 1px solid #dedede; padding: 15px 0px 10px; color: #333;}
.boxInfoWebsite a{font-family: 'Open Sans', sans-serif; font-size: 14px;}
.boxInfoWebsite a:hover{color: #2b95e0; text-decoration: none;}

/*==================================================================================================*/
#back2top {
	width: 30px; height: 30px; position: fixed; bottom: 50px; right: 15px; display: none; cursor: pointer; border: 1px solid #252525;
	background: url(../images/backtotop.png) no-repeat center center #000; background-size: 100%;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}
#back2top:hover, #audio:hover{opacity: 0.9}

#title_map{font-size: 16px; text-transform: capitalize; color: #0164b1; font-weight: bold;}
.js-video {
	height: 0;
	padding-top: 25px;
	padding-bottom: 67.5%;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
.js-video.vimeo {padding-top: 0;}
.js-video.widescreen {padding-bottom: 49%;}
.js-video embeb, .js-video iframe, .js-video object, .js-video video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.fb-comments {width: 100% !important;}
.fb-comments iframe[style] {width: 100% !important;}
.fb-like-box {width: 100% !important;}
.fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span {width: 100% !important;}
.fb-comments iframe span[style] {width: 100% !important;}
.fb-like-box span {width: 100% !important;}
.fb-like-box iframe span[style] {width: 100% !important;}

@keyframes blink {
    from {
        color: #fff; border-color: #fff;
    }
    to {
        color: #000; border-color: #000;
    }
}
@-webkit-keyframes blink {
    from {
        color: #fff; border-color: #fff;
    }
    to {
        color: #000; border-color: #000;
    }
}

@media screen and (min-width: 480px){
}

@media screen and (min-width: 640px){
}

@media screen and (min-width: 768px){
}

@media screen and (min-width: 992px){
}

@media screen and (min-width: 1200px){
	.container{width: 1110px;}
}