/* custom template admin */
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{min-height: 30px;}
.row-fluid [class*="span"]{min-height: auto;}
.stdform2 [class*="span"]{min-height: 30px;}
.stdform2 span.field, .stdform2 div.field{padding: 10px 15px;}
.stdform2 label{padding: 15px 0 0 15px;}
.stdform2 .tab-company p, .stdform2 .tab-company div.par{border: 1px solid #ddd; border-top: 0px;}
.stdform2 .tab-company p:first-child, .stdform2 .tab-company div.par:first-child{border-top: 1px solid #ddd;}
.stdform2 .tab-company span.field, .stdform2 .tab-company div.field{padding: 10px 15px;}
.stdform2 .tab-company label{padding-top: 15px;}
.stdform2 .tab-company .field label{padding: 0px; font-weight: normal;}

.ui-tabs-nav li a{padding-top: 6px}

.popover{font-family: 'Roboto', sans-serif;}
.popover-title{font-weight: bold;}
.popover-content{font-size: 13px!important;}

#popup_panel{padding: 10px;}
.confirm #popup_panel:after{content: ''; display: table; clear: both;}
.confirm #popup_panel input:first-child{float: left;}
.confirm #popup_panel input:last-child{float: right;}

.img-polaroid{max-width: 100%;}
.info-photo{text-align: center; margin: 5px auto 15px;}

.hasDatepicker{cursor: pointer!important;}

.icon-spin{-webkit-animation: icon-spin 2s infinite linear; animation: icon-spin 2s infinite linear;}

.logopanel{text-align: center;}
.showmenu{background-image: none; font-size: 20px; padding: 7px 10px; color: #fff; text-align: center;}
.notification .dropdown-toggle .caret{color: #fff; border-top-color: #fff; margin-top: 15px;}
.userinfo .dropdown-toggle{color: #fff;}
.userinfo .dropdown-menu li:first-child{text-align: center;}
.userinfo .dropdown-menu input[type='image']{padding: 2px; border: 1px solid #ddd; border-radius: 100%; margin-bottom: 5px;}
.showmenu:focus, .notification .dropdown-toggle:focus, .userinfo .dropdown-toggle:focus, .showmenu:hover, .notification .dropdown-toggle:hover, .userinfo .dropdown-toggle:hover{text-decoration: none; color: #fff; opacity: 0.7}
.headerright .dropdown{margin-left: 0px;}
.notification .dropdown-toggle:first-child{margin-right: 8px;}
.notification .dropdown-toggle{position: relative;}
.notification .dropdown-toggle .notifiNumber{position: absolute; right: 0px; top: 0px; padding: 3px 0px; width: 20px; text-align: center;}
.dropdown-menu .divider{border-color: #e2e2e2;}

.searchwidget input.search-query{height: 36px;}
.leftmenu .nav-tabs.nav-stacked > .dropdown > a{background: transparent url(../img/arrowleft.png) no-repeat right center !important}
.leftmenu .nav-tabs ul li.active{position: relative;}
.leftmenu .nav-tabs ul li.active:after{
	content: ''; display: inline-block; position: absolute; right: 3px; top: 12px;
    border: 2px solid #797979; border-radius: 100%;
}

.rightpanel{
	transition: margin 0.05s;
    -moz-transition: margin 0.05s;
    -webkit-transition: margin 0.05s;
    -o-transition: margin 0.05s;
}

.input-append{display: block; margin: 0px;}
.input-append input.one-item.with-btn-icon{width: calc(100% - 40px);}
.input-append input.two-item.with-btn-icon{width: calc(100% - 80px);}
.input-append input.three-item.with-btn-icon{width: calc(100% - 120px);}
.input-append .btn-icon{width: 40px; text-align: center; padding: 4px 0px;}
.input-append .btn-icon [class^='iconfa-']{font-size: 16px; display: inline-block; vertical-align: middle; line-height: 1.2}

.row-fluid span[class*='span']{display: block; float: left;}

.profilethumb{display: block; text-align: center; margin-bottom: 5px;}
.profilethumb img{margin: auto; max-width: 170px;}
.fileupload .input-append{text-align: center;}
.fileupload .input-append .btn, .fileupload .input-prepend .btn{padding-top: 4px; padding-bottom: 4px;}
.fileupload .uneditable-input[class*='span']{min-height: 30px; background: #fcfcfc; padding: 5px 10px; text-align: left;}
.fileupload-new .uneditable-input.span12{width: calc(100% - 82px);}
.fileupload-exists .uneditable-input.span12{width: calc(100% - 95px);}
.error .uneditable-input{
	border-color: #b94a48; border-right-width: 2px;
	background: rgba(253, 189, 188, 0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.ui-datepicker-header > .ui-datepicker-prev{top: 5px; height: 30px; background-position-y: -30px;}
.ui-datepicker-header > .ui-datepicker-next{top: 5px; height: 30px; background-position-y: 10px;}
.ui-datepicker-title{margin: auto; width: calc(100% - 30px)}
.ui-datepicker-title:after{content: ''; display: table; clear: both;}
.ui-datepicker-title select{width: calc(50% - 6px); margin: 0px 3px; display: block; float: left;}
.ui-datepicker-calendar td.ui-state-disabled{background: #f8f8f8}
.ui-datepicker-calendar td.ui-datepicker-current-day > a{background: #235688; color: #fff; font-weight: bold;}
.ui-datepicker-calendar td.ui-datepicker-current-day > a:hover{background: #3b77b3;}

.editprofileform p{margin: 10px 0px;}
.editprofileform label{width: 100%;}
.contentinner .uniform-label{width: auto; display: inline-block; margin-left: 20px; padding: 0px;}
.contentinner .uniform-label .radio{margin: 0px;}
.contentinner .uniform-label:first-child{margin: 0px;}
.editprofileform input[type="text"], .editprofileform input[type="number"], .editprofileform input[type="email"], .editprofileform input[type="password"]{
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
	margin-bottom: 0; font-size: 12px; color: #000; background: #fcfcfc; min-height: 30px;
}
.editprofileform input[type="text"]:focus, .editprofileform input[type="email"]:focus, .editprofileform input[type="password"]:focus, .editprofileform input[type="number"]:focus{background: #fff;}

*[class*='span'].error input, .stdform2 span.field.error input{
	border-color: #b94a48; background: rgba(253, 189, 188, 0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
*[class*='span'].error .help-inline, .stdform2 span.field.error .help-inline{color: #b94b49;}

input[disabled],select[disabled],textarea[disabled],button[disabled]{cursor: auto!important}

/* Form auth ... */
.logintitle span[class*=iconfa]{font-size: 48px; margin-top: 14px; float: left; margin-right: 10px;}
.loginwrapper .control-group a, .loginwrapper .control-group label{color: #c1c0c0; font-size: 14px; min-height: auto;}
.loginwrapper .control-group:last-child{margin: 0px;}
.loginwrapper .help-inline{display: block; margin-top: 2px; background: #fff;}
.loginwrapper .help-inline a{color: #b94a48; font-size: 12px; text-decoration: underline;}
.loginwrapper input{min-height: 44px;}
.loginwrapper input#password-confirm{background: #eee url(../img/password.png) no-repeat 8px 12px}
.loginwrapper input#name{background: #eee url(../img/glyphicons-info.png) no-repeat 8px 12px}
.loginwrapper input#login{background: #eee url(../img/username.png) no-repeat 8px 12px}
.loginwrapper input#email{background: #eee url(../img/glyphicons-email.png) no-repeat 8px 12px}
.loginwrapper .control-group input:focus{background-color: #fff!important;}
.loginwrapper .btn:focus{background-position: 0;}
.loginwrap .alert{margin-bottom: 0px; font-size: 13px;}
.loginwrap .alert-success a{color: #468847; text-decoration: underline;}

/** jQuery jgrowl Styling themes **/
div.jGrowl.top-right{top: 77px;}
div.jGrowl.top-left{top: 77px;}
div.jGrowl.bottom-right{bottom: 45px;}
div.jGrowl.bottom-left{bottom: 45px;}
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer{position: relative;}
div.jGrowl div.jGrowl-notification div.jGrowl-close{position: absolute; right: 3px; top: 0px;}
div.jGrowl div.jGrowl-notification.success, div.jGrowl div.jGrowl-notification.alert-success, div.jGrowl div.jGrowl-closer.alert-success{
	border-color: #b4da95; color: #468847;
	background: rgb(223,240,216);
	background: -moz-linear-gradient(top, rgba(223,240,216,1) 0%, rgba(208,242,195,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,240,216,1)), color-stop(100%,rgba(208,242,195,1)));
	background: -webkit-linear-gradient(top, rgba(223,240,216,1) 0%,rgba(208,242,195,1) 100%);
	background: -o-linear-gradient(top, rgba(223,240,216,1) 0%,rgba(208,242,195,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,240,216,1) 0%,rgba(208,242,195,1) 100%);
	background: linear-gradient(to bottom, rgba(223,240,216,1) 0%,rgba(208,242,195,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dff0d8', endColorstr='#d0f2c3',GradientType=0 );
}
div.jGrowl div.jGrowl-notification.error, div.jGrowl div.jGrowl-notification.alert-error, div.jGrowl div.jGrowl-closer.alert-error{
	border-color: #e18d9a; color: #da5251;
	background: rgb(246,216,216);
	background: -moz-linear-gradient(top, rgba(246,216,216,1) 0%, rgba(245,197,197,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,216,216,1)), color-stop(100%,rgba(245,197,197,1)));
	background: -webkit-linear-gradient(top, rgba(246,216,216,1) 0%,rgba(245,197,197,1) 100%);
	background: -o-linear-gradient(top, rgba(246,216,216,1) 0%,rgba(245,197,197,1) 100%);
	background: -ms-linear-gradient(top, rgba(246,216,216,1) 0%,rgba(245,197,197,1) 100%);
	background: linear-gradient(to bottom, rgba(246,216,216,1) 0%,rgba(245,197,197,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d8d8', endColorstr='#f5c5c5',GradientType=0 );
}
div.jGrowl div.jGrowl-notification.info, div.jGrowl div.jGrowl-notification.alert-info, div.jGrowl div.jGrowl-closer.alert-info{
	border-color: #88c4e2; color: #3a87ad;
	background: rgb(217,237,247);
	background: -moz-linear-gradient(top, rgba(217,237,247,1) 0%, rgba(186,230,252,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,237,247,1)), color-stop(100%,rgba(186,230,252,1)));
	background: -webkit-linear-gradient(top, rgba(217,237,247,1) 0%,rgba(186,230,252,1) 100%);
	background: -o-linear-gradient(top, rgba(217,237,247,1) 0%,rgba(186,230,252,1) 100%);
	background: -ms-linear-gradient(top, rgba(217,237,247,1) 0%,rgba(186,230,252,1) 100%);
	background: linear-gradient(to bottom, rgba(217,237,247,1) 0%,rgba(186,230,252,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9edf7', endColorstr='#bae6fc',GradientType=0 );
}

/* Table */
.text-top .actionfull{margin-bottom: 10px;}
.text-bottom .actionfull{margin-top: 10px;}
.actionfull .btn{margin-right: 7px;}
.actionfull .btn:last-child{margin-right: 0px;}
.search-area{position: relative;}
.search-area .iconfa-remove{position: absolute; right: 0px; bottom: 0px; cursor: pointer; padding: 4px 10px; display: inline-block;}
.search-area .iconfa-remove:hover{color: #c9302c;}
.table th, .table td{text-align: center;}
.table .text-center, .table .text-center{text-align: center;}
.table .text-left, .table .text-left{text-align: left;}
.table .text-right, .table .text-right{text-align: right;}
#table-header, #table-footer {border: 1px solid #ddd; background: #eee; padding: 10px; font-size: 11px; margin: 0px;}
#table-header{border-bottom: none;}
#table-footer{border-top: none;}
#table-header select{width: auto;}
#table-header input{width: 150px;}
.table .inputNo{width: 40px; text-align: center; min-height: auto; padding: 0px;}
.table .action a{display: inline-block; margin-left: 7px;}
.table .action a:first-child{margin: 0px;}
.table .action a:hover{text-decoration: none;}
.table .action [class^='iconfa-']{display: block; padding: 0px; width: 15px; text-align: center; font-size: 16px; line-height: 1; margin: auto;}
.table .action.text-left [class^='iconfa-']{margin: 0px;}
.table .btn-read:hover span{color: #00c0ef;}
.table .btn-update:hover span{color: #ec971f;}
.table .btn-delete:hover span{color: #c9302c;}

.stdform2 .field:after{content: ''; clear: both; display: table;}
.stdform2 .table-permission tbody tr:first-child td{
    background: rgb(237,237,237); color: #000; font-weight: bold;
    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(222,222,222,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(222,222,222,1)));
    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
}
.stdform .field label{display: inline-block; margin-left: 20px; float: none;}
.stdform .field label:first-child{padding: 0px; margin-left: 0px; float: none; width: auto; font-weight: normal;}
.table-striped.table-permission tbody>tr:hover>td {background-color: #efefef;}
.stdform2 .table-permission .info{background: #d9edf7;}
.stdform2 .table-permission .default{background: #f3f3f3;}
.stdform2 .table-permission .success{background: #dff0d8;}
.stdform2 .table-permission .warning{background: #fcf8e3;}
.stdform2 .table-permission .danger{background: #f2dede;}
.stdform2 .table-permission tr:hover .info{background: #c4e3f3;}
.stdform2 .table-permission tr:hover .default{background: #e6e5e5;}
.stdform2 .table-permission tr:hover .success{background: #d0e9c6;}
.stdform2 .table-permission tr:hover .warning{background: #faf2cc;}
.stdform2 .table-permission tr:hover .danger{background: #ebcccc;}
.stdform2 .table-permission label{width: auto; padding: 0px; float: none;}

.pagination{margin: 0px 0px 0px 270px; line-height: 0;}
.pagination ul > li > a, .pagination ul > li > span{padding: 2px 10px;}


/* form */
.widgetcontent .row-fluid [class*='span'] > label{padding-top: 8px; display: block;}
.widgetcontent .row-fluid [class*='span'] > input, .widgetcontent .row-fluid [class*='span'] > textarea{min-height: 36px;}
.stdform2 span.field textarea, .stdform2 div.field textarea{max-width: 100%;}

.SumoSelect{display: block; width: 100%;}
select.SumoSelect.SumoUnder{display: none;}
.editprofileform .SumoSelect label{float: none; padding: 0px;}
.SumoSelect>.optWrapper>.options li > span{display: none;}
.SumoSelect>.optWrapper>.options li span{display: inline-block;}
.SumoSelect>.optWrapper>.options li.opt.selected {background-color: #f1f1f1;}
.SumoSelect>.optWrapper>.options li.opt:hover {background-color: #E4E4E4; cursor: pointer;}
.SumoSelect .select-all>span, .SumoSelect>.optWrapper.multiple>.options li.opt span.label{display: inline-block; position: static; width: auto; margin: 0px;}

.widgetphoto{text-align: center;}
.widgetphoto .thumb{margin: 0px auto 7px; max-width: 100%;}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}