/* custom template admin */
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{min-height: 30px;}
.row-fluid [class*="span"]{min-height: auto;}

.hasDatepicker{cursor: pointer!important; background-color: #eee!important;}

.icon-spin{-webkit-animation: icon-spin 2s infinite linear; animation: icon-spin 2s infinite linear;}

.logopanel{text-align: center;}
.showmenu{background-image: none; font-size: 20px; padding: 7px 10px; color: #fff; text-align: center;}
.notification .dropdown-toggle .caret{color: #fff; border-top-color: #fff;}
.userinfo .dropdown-toggle{color: #fff;}
.showmenu:focus, .notification .dropdown-toggle:focus, .userinfo .dropdown-toggle:focus, .showmenu:hover, .notification .dropdown-toggle:hover, .userinfo .dropdown-toggle:hover{text-decoration: none; color: #fff; opacity: 0.7}
.headerright .dropdown{margin-left: 0px;}
.notification .dropdown-toggle:first-child{margin-right: 8px;}
.dropdown-menu .divider{border-color: #e2e2e2;}

.searchwidget input.search-query{height: 36px;}
.leftmenu .nav-tabs.nav-stacked > .dropdown > a{background: transparent url(../img/arrowleft.png) no-repeat right center !important}
.leftmenu .nav-tabs ul li.active{position: relative;}
.leftmenu .nav-tabs ul li.active:after{
	content: ''; display: inline-block; position: absolute; right: 3px; top: 12px;
    border: 2px solid #797979; border-radius: 100%;
}

.rightpanel{
	transition: margin 0.05s;
    -moz-transition: margin 0.05s;
    -webkit-transition: margin 0.05s;
    -o-transition: margin 0.05s;
}

.input-append{display: block; margin: 0px;}
.input-append input.one-item.with-btn-icon{width: calc(100% - 40px);}
.input-append input.two-item.with-btn-icon{width: calc(100% - 80px);}
.input-append input.three-item.with-btn-icon{width: calc(100% - 120px);}
.input-append .btn-icon{width: 40px; text-align: center; padding: 4px 0px;}
.input-append .btn-icon [class^='iconfa-']{font-size: 16px; display: inline-block; vertical-align: middle; line-height: 1.2}

.profilethumb{display: block; text-align: center; margin-bottom: 5px;}
.profilethumb img{margin: auto; max-width: 170px;}
.fileupload .input-append{text-align: center;}
.fileupload .input-append .btn, .fileupload .input-prepend .btn{padding-top: 4px; padding-bottom: 4px;}
.uneditable-input.span12{width: calc(100% - 82px); min-height: 30px;}
.fileupload-exists .uneditable-input.span12{width: calc(100% - 142px);}

.ui-datepicker-header > .ui-datepicker-prev{top: 5px; height: 30px; background-position-y: -30px;}
.ui-datepicker-header > .ui-datepicker-next{top: 5px; height: 30px; background-position-y: 10px;}
.ui-datepicker-title{margin: auto; width: calc(100% - 30px)}
.ui-datepicker-title:after{content: ''; display: table; clear: both;}
.ui-datepicker-title select{width: calc(50% - 6px); margin: 0px 3px; display: block; float: left;}
.ui-datepicker-calendar td.ui-state-disabled{background: #f8f8f8}

.editprofileform p{margin: 10px 0px;}
.editprofileform label{width: 100%;}
.contentinner .uniform-label{width: auto; display: inline-block; margin-left: 7px;}
.contentinner .uniform-label:first-child{margin: 0px;}
.editprofileform input[type="text"], .editprofileform input[type="email"], .editprofileform input[type="password"]{
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
	margin-bottom: 0; font-size: 12px; color: #000; background: #fcfcfc; min-height: 30px;
}

*[class^='span'].error input{
	border-color: #b94a48; background: rgba(185, 74, 72, 0.2)!important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
*[class^='span'].error .help-inline{color: #b94b49;}

/* Form auth ... */
.logintitle span[class*=iconfa]{font-size: 48px; margin-top: 14px; float: left; margin-right: 10px;}
.loginwrapper .control-group a, .loginwrapper .control-group label{color: #c1c0c0; font-size: 14px; min-height: auto;}
.loginwrapper .control-group:last-child{margin: 0px;}
.loginwrapper .help-inline{display: block; margin-top: 2px; background: #fff;}
.loginwrapper .help-inline a{color: #b94a48; font-size: 12px; text-decoration: underline;}
.loginwrapper input#password-confirm{background: #eee url(../img/password.png) no-repeat 8px 12px}
.loginwrapper input#name{background: #eee url(../img/glyphicons-info.png) no-repeat 8px 12px}
.loginwrapper input#login{background: #eee url(../img/username.png) no-repeat 8px 12px}
.loginwrapper input#email{background: #eee url(../img/glyphicons-email.png) no-repeat 8px 12px}
.loginwrapper .control-group input:focus{background-color: #fff!important;}
.loginwrapper .btn:focus{background-position: 0;}
.loginwrap .alert{margin-bottom: 0px; font-size: 13px;}
.loginwrap .alert-success a{color: #468847; text-decoration: underline;}

/** jQuery jgrowl Styling themes **/
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer{position: relative;}
div.jGrowl div.jGrowl-notification div.jGrowl-close{position: absolute; right: 3px; top: 0px;}
div.jGrowl div.jGrowl-notification.success, div.jGrowl div.jGrowl-closer{
	background-color: #468847;
	border-color: #134814; 
}
div.jGrowl div.jGrowl-notification.error, div.jGrowl div.jGrowl-closer{
	background-color: #d86f6e;
	border-color: #b94a48; 
}


@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}