/* custom template admin */
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.logopanel{text-align: center;}
.showmenu{background-image: none; font-size: 20px; padding: 7px 10px; color: #fff; text-align: center;}
.notification .dropdown-toggle .caret{color: #fff; border-top-color: #fff;}
.userinfo .dropdown-toggle{color: #fff;}
.showmenu:focus, .notification .dropdown-toggle:focus, .userinfo .dropdown-toggle:focus, .showmenu:hover, .notification .dropdown-toggle:hover, .userinfo .dropdown-toggle:hover{text-decoration: none; color: #fff; opacity: 0.7}
.headerright .dropdown{margin-left: 0px;}
.notification .dropdown-toggle:first-child{margin-right: 8px;}
.dropdown-menu .divider{border-color: #e2e2e2;}

.searchwidget input.search-query{height: 36px;}
.leftmenu .nav-tabs.nav-stacked > .dropdown > a{background: transparent url(../img/arrowleft.png) no-repeat right center !important}
.leftmenu .nav-tabs ul li.active{position: relative;}
.leftmenu .nav-tabs ul li.active:after{
	content: ''; display: inline-block; position: absolute; right: 3px; top: 12px;
    border: 2px solid #797979; border-radius: 100%;
}

.rightpanel{
	transition: margin 0.05s;
    -moz-transition: margin 0.05s;
    -webkit-transition: margin 0.05s;
    -o-transition: margin 0.05s;
}

.profilethumb{display: block; text-align: center;}
.profilethumb img{margin: auto;}
.fileupload .input-append{display: block; text-align: center;}
.fileupload .input-append .btn, .fileupload .input-prepend .btn{padding-top: 4px; padding-bottom: 4px;}
.uneditable-input.span12{width: calc(100% - 82px); min-height: 30px;}
.fileupload-exists .uneditable-input.span12{width: calc(100% - 142px);}

/* Form auth ... */
.logintitle span[class*=iconfa]{font-size: 48px; margin-top: 14px; float: left; margin-right: 10px;}
.loginwrapper .control-group a, .loginwrapper .control-group label{color: #c1c0c0; font-size: 14px; min-height: auto;}
.loginwrapper .control-group:last-child{margin: 0px;}
.loginwrapper .help-inline{display: block; margin-top: 2px; background: #fff;}
.loginwrapper .help-inline a{color: #b94a48; font-size: 12px; text-decoration: underline;}
.loginwrapper input#password-confirm{background: #eee url(../img/password.png) no-repeat 8px 12px}
.loginwrapper input#name{background: #eee url(../img/glyphicons-info.png) no-repeat 8px 12px}
.loginwrapper input#login{background: #eee url(../img/username.png) no-repeat 8px 12px}
.loginwrapper input#email{background: #eee url(../img/glyphicons-email.png) no-repeat 8px 12px}
.loginwrapper .control-group input:focus{background-color: #fff!important;}
.loginwrapper .btn:focus{background-position: 0;}
.loginwrap .alert{margin-bottom: 0px; font-size: 13px;}
.loginwrap .alert-success a{color: #468847; text-decoration: underline;}
